# фреймворк
fastapi>=0.110.0,<0.120.0
# веб-сервер
uvicorn>=0.28.0,<0.30.0
# модели данных
pydantic>=2.6.4,<2.7.0
pydantic-settings>=2.2.1,<2.3.0
# хэширование
passlib>=1.7.4,<1.8
bcrypt>=4.1.2,<4.2.0
# ORM
SQLAlchemy>=2.0.29,<2.1
# postgres
psycopg2>=2.9.9,<2.10.0
# access tokens for auth
python-jose>=3.3.0,<3.4.0
# для конвертирования эксель-файла в таблицы бд
pandas>=2.2.2, <2.3.0
# транслит с русского в английский
transliterate~=1.10.2